@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light+Two&display=swap");
:root {
  --primary-color: #76c8b1;
  --primary-color2: #29eeec;
  --secondary-color: #017ece;
  --primary-dark: #181818;
  --primary-white: #ffffff;
  --font-color: #676767;
  --time-line-color: #b8f9f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-height: 100vh;
  background-color: var(--primary-white);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Navbar */

.header {
  background-color: var(--primary-white);
  border-bottom: 2px solid var(--secondary-color);
  padding: 5px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.nav-links {
  display: flex;
  list-style-type: none;
  gap: 20px;
  justify-content: center;
}

.nav-links a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 400;
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.nav-links a:hover::after {
  background-color: var(--primary-color2);
}

#menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: var(--primary-color2);
  margin-left: 10px;
}


/* Stretch Feature- Dropdown Nav for sub Categories */

.more {
  position: relative;
}

.more .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--primary-white);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  z-index: 1000;
}

.more:hover .dropdown {
  display: block;
}

.dropdown li {
  border-bottom: 1px solid var(--secondary-color);
}

.dropdown li:last-child {
  border-bottom: none;
}

.dropdown li a {
  padding: 10px 20px;
  display: block;
  color: var(--secondary-color);
  text-decoration: none;
  white-space: nowrap;
}

.dropdown li a:hover {
  background-color: var(--primary-color2);
  color: var(--primary-white);
}


.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo h3 {
  color: var(--secondary-color);
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 500;
  font-size: 36px;
  font-style: normal;
}

/* Hero section - Flexgrid for 2 column flex layout*/

.hero {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.hero-content-col-1 {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.hero-content-col-1 h1 {
  font-size: 36px;
  margin-bottom: 10px;
  margin: 10px 20px;
  color: var(--time-line-color);
}

.hero-content-col-1 p {
  margin-bottom: 20px;
  margin: 10px 20px;
  color: var(--primary-white);
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.hero-content-col-1 button {
  padding: 10px 20px;
  background-color: var(--secondary-color);
  color: white;
  font-size: 16px;
  font-weight: 400;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 10px 20px;
}
.hero-content-col-1 button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.hero-content-col-1 button:hover {
  background-color: var(--time-line-color);
  color: var(--secondary-color);
}

.hero-content-col-2 {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content-col-2 img {
  max-width: 100%;
  width: 70%;
}

/* Main */

.main-content {
  text-align: center;
}

.main-content h4 {
  font-family: "Shadows Into Light Two", cursive;
  font-size: 24px;
  color: var(--secondary-color);
  margin: 20px 20px;
  padding: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.card {
  display: inline-block;
  margin: 0 10px;
  vertical-align: top;
}
.card img {
  /* max-width: 70%; */
  width: 300px;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card a {
  display: block;
  margin-top: 10px;
  color: #017ece;
  text-decoration: none;
}

.main-content p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: var(--font-color);
  margin: 10px 40px;
  padding: 10px;
  font-weight: 400;
}

.main-content a {
  color: var(--secondary-color);
  margin: 10px 20px;
  padding: 10px;
  align-self: center;
}

/* Top Attractions Page */

.top-attractions-content {
  text-align: center;
  padding: 20px;
  /* position: relative; */
}

#page-logo img {
  width: 200px;
  height: auto;
  position: absolute;
  margin: 10px 20px;
  padding: 20px;
  top: 40px;
  left: 20px;
}

.top-attractions-content h1 {
  font-family: "Shadows Into Light Two", cursive;
  color: var(--secondary-color);
  margin: 40px 0;
  padding: 10px 0;
  font-weight: 500;
}

.top-attractions-content p {
  font-family: "Shadows Into Light Two", cursive;
  color: var(--primary-dark);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: 700;
}

#top-attraction-p {
  font-family: "Montserrat", sans-serif;
  color: var(--font-color);
  margin: 20px 40px;
  padding: 20px;
}

.top-attraction-card a {
  margin: 20px 10px;
  padding: 10px;
  font-weight: 200;
  font-size: 20px;
}

.top-attraction-card img {
  max-width: 50%;
  width: 60%;
  height: auto;
}

/* Leaflet-OpenStreet Map */

#map{
  max-width: 70%;
  width: 50%;
  height: 400px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow:  rgba(0, 0, 0, 0.2);
}

/* Food Guide page */

.food-guide {
  text-align: center;
  padding: 20px 20px;
  min-height: 100vh;
}

.food-guide h1 {
  font-family: "Shadows Into Light Two", cursive;
  color: var(--secondary-color);
  margin: 40px 0;
  padding: 20px 0;
  font-weight: 700;
}

#food-guide-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.food-card {
  background-color: var(--primary-white);
  border: 2px solid var(--secondary-color);
  border-radius: 8px;
  margin: 20px;
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.food-card img {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.food-card h3 {
  font-family: "Shadows Into Light Two", cursive;
  font-size: 24px;
  color: var(--secondary-color);
  margin: 10px 0;
}

#card-title {
  font-size: 12px;
  margin: 10px;
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 700;
}

#card-address{
    font-size: 14px;
    color: var(--primary-dark);
    font-weight: 300;
}

.food-card p {
  color: var(--font-color);
  margin: 5px 0;
}

.food-card button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: var(--primary-color2);
  font-family: "Montserrat", sans-serif;
  color: var(--font-color);
  font-weight: 500;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: backgroud-color 0.3s;
}

.food-card a {
    text-decoration: none;
    color: var(--font-color);
}

.food-card button:hover  {
  background-color: var(--secondary-color);
  color: var(--primary-white);
}
.food-card button:hover  a{
  color: var(--primary-white);
}


/* Photo Gallery using Masonary Layout(flex layout) */


.photo-gallery-container{
 max-width: 100%;
 width: 90%;
 margin: auto;
 padding: 20px 0;
 margin-bottom: 1rem;
}

.photo-gallery{
  display: flex;
  gap: 20px;
}

.gallery-col{
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.photo img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.1);
}


.photo{
  position: relative;
  overflow: hidden;
}

.caption{
  position: absolute;
  height: 50%;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(184, 249, 248, 0.768);
  color: var(--secondary-color);
  font-weight: 700;
  padding: 10px;
  text-align: center;
  opacity: 0;
  transition: opacity .3s ease;
}

.photo:hover .caption{
  opacity: 1;
}

/* Footer */

footer {
  /* position: relative;
  /* bottom: 0; */
  width: 100%;
  height: 50px;
  font-weight: 500;
  background-color: #017ece;
  color: white;
  text-align: center;
  line-height: 50px;
}

/* Media queires */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .nav-links {
    flex-direction: column;
    gap: 20px;
    display: none;
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
  }

  .nav-links.show {
    display: flex;
  }

  #menu-toggle {
    display: block;
    font-size: 24px;
    cursor: pointer;
    color: var(--secondary-color);
  }

  .logo {
    flex: none;
  }

  #page-logo {
    display: none;
  }
  /* #page-logo.show{
    display: flex;
    align-items: center;
    width: 100%;
  } */

.photo-gallery{
  flex-direction: column;

}

#map{
  margin-top: 20px;
  height: 200px;
}

}
